In [1]:
import numpy as np

In [2]:
import pandas as pd

In [8]:
df = pd.read_excel('/content/drive/MyDrive/CODING DOJO PAPERWORK/coding school/week 2/RailsToTrails_National Count Data_week.xlsx')
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 2. Find how many entries occurred after July 31, 2020 Hint:  use len(df_filtered) to get the length of the dataframe

In [10]:
df.iloc[32 :52]

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
32,Week 33,2020-08-10,191450.0,219279.0,NaN,0.15,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754.0,241007.0,NaN,0.43,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.55,154.948931,NaN,NaN,NaN
35,Week 36,2020-08-31,184806.0,227918.0,NaN,0.23,123.328247,NaN,NaN,NaN
36,Week 37,2020-09-07,157345.0,207670.0,NaN,0.32,131.983857,NaN,NaN,NaN
37,Week 38,2020-09-14,152527.0,207320.0,NaN,0.36,135.923476,NaN,NaN,NaN
38,Week 39,2020-09-21,141072.0,207918.0,NaN,0.47,147.384314,NaN,NaN,NaN
39,Week 40,2020-09-28,135881.0,186004.0,NaN,0.37,136.887424,NaN,NaN,NaN
40,Week 41,2020-10-05,132239.0,182924.0,NaN,0.38,138.328330,NaN,NaN,NaN
41,Week 42,2020-10-12,110816.0,159246.0,NaN,0.44,143.703075,NaN,NaN,NaN
42,Week 43,2020-10-19,110761.0,141404.0,NaN,0.28,127.665875,NaN,NaN,NaN
43,Week 44,2020-10-26,109795.0,147907.0,NaN,0.35,134.711963,NaN,NaN,NaN
44,Week 45,2020-11-02,109766.0,154502.0,NaN,0.41,140.755790,NaN,NaN,NaN
45,Week 46,2020-11-09,86824.0,155805.0,NaN,0.79,179.449231,NaN,NaN,NaN
46,Week 47,2020-11-16,88122.0,97835.0,NaN,0.11,111.022219,NaN,NaN,NaN
47,Week 48,2020-11-23,72380.0,101036.0,NaN,0.40,139.591047,NaN,NaN,NaN
48,Week 49,2020-11-30,81871.0,84123.0,NaN,0.03,102.750669,NaN,NaN,NaN
49,Week 50,2020-12-07,68364.0,92126.0,NaN,0.35,134.758060,NaN,NaN,NaN
50,Week 51,2020-12-14,58063.0,73188.0,NaN,0.26,126.049291,NaN,NaN,NaN
51,Week 52,2020-12-21,71890.0,69962.0,NaN,-0.03,97.318125,NaN,26.728808,0.514016

In [11]:
df_filtered = df.iloc[32 :52]

In [12]:
print(len(df_filtered))

20

In [13]:
print(len(df.columns))

10

## 3. Select just data where the 'Change 2019 -2020' column is greater than 50% (greater than .5).

In [14]:
print(df['Change 2019-2020'])

0     0.094627
1     0.179743
2     0.216112
3     0.105645
4     0.249166
5     0.924731
6     0.983068
7     1.156737
8     0.648422
9     0.982298
10    0.946220
11    1.932039
12    1.730000
13    1.360000
14    2.170000
15    0.810000
16    0.390000
17    0.660000
18    0.430000
19    0.580000
20    0.330000
21    0.250000
22    0.320000
23    0.380000
24    0.260000
25    0.270000
26    0.280000
27    0.320000
28    0.510000
29    0.070000
30    0.210000
31    0.330000
32    0.150000
33    0.430000
34    0.550000
35    0.230000
36    0.320000
37    0.360000
38    0.470000
39    0.370000
40    0.380000
41    0.440000
42    0.280000
43    0.350000
44    0.410000
45    0.790000
46    0.110000
47    0.400000
48    0.030000
49    0.350000
50    0.260000
51   -0.030000
Name: Change 2019-2020, dtype: float64

In [18]:
mortgage_filter = df['Change 2019-2020'] > .5
mortgage_filter.head()

0    False
1    False
2    False
3    False
4    False
Name: Change 2019-2020, dtype: bool

In [19]:
df[mortgage_filter]

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5,Week 6,2020-02-03,79780.0,153555.0,NaN,0.924731,192.473051,NaN,NaN,NaN
6,Week 7,2020-02-10,65732.0,130351.0,NaN,0.983068,198.306761,NaN,NaN,NaN
7,Week 8,2020-02-17,69492.0,149876.0,NaN,1.156737,215.673747,NaN,NaN,NaN
8,Week 9,2020-02-24,85688.0,141250.0,NaN,0.648422,164.842218,NaN,NaN,NaN
9,Week 10,2020-03-02,84512.0,167528.0,NaN,0.982298,198.229837,NaN,NaN,NaN
10,Week 11,2020-03-09,107995.0,210182.0,NaN,0.946220,194.621973,NaN,NaN,NaN
11,Week 12,2020-03-16,125440.0,367795.0,NaN,1.932039,293.203922,NaN,NaN,NaN
12,Week 13,2020-03-23,136330.0,372783.0,NaN,1.730000,273.441649,NaN,NaN,NaN
13,Week 14,2020-03-30,118784.0,280728.0,NaN,1.360000,236.334860,NaN,NaN,NaN
14,Week 15,2020-04-06,132033.0,419160.0,NaN,2.170000,317.466088,NaN,NaN,NaN
15,Week 16,2020-04-13,133267.0,241810.0,NaN,0.810000,181.447770,NaN,NaN,NaN
17,Week 18,2020-04-27,166356.0,276982.0,NaN,0.660000,166.499555,NaN,NaN,NaN
19,Week 20,2020-05-11,178534.0,281348.0,NaN,0.580000,157.587910,NaN,NaN,NaN
28,Week 29,2020-07-13,166125.0,250590.0,NaN,0.510000,150.844244,NaN,NaN,NaN
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.550000,154.948931,NaN,NaN,NaN
45,Week 46,2020-11-09,86824.0,155805.0,NaN,0.790000,179.449231,NaN,NaN,NaN

## 4. Put these together! When filtering you can use  "&" to combine two filters. Determine how many weeks in the second half of the year (after July 31, 2020) also had a change greater than 50%? Hint: use len()

In [26]:
date_filter = df['Week of'] > ('2020-7-31')
date_filter

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
51     True
Name: Week of, dtype: bool

In [29]:
df_filtered = df.loc[date_filter & mortgage_filter]
df_filtered.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.55,154.948931,NaN,NaN,NaN
45,Week 46,2020-11-09,86824.0,155805.0,NaN,0.79,179.449231,NaN,NaN,NaN

## 5.  Next, make a new combined filter where you only include changes greater than 100% that also occurred after July 31, 2020.  Display the filtered DataFrame.  Were there any weeks in the second half of the year (after July 31, 2020) where the change was greater than 100%? Hint: If you only see column headers with no data, this means no rows met both conditions

In [30]:
mortgage_filter2 = df['Change 2019-2020'] > 1
mortgage_filter2.head()

0    False
1    False
2    False
3    False
4    False
Name: Change 2019-2020, dtype: bool

In [31]:
df_filtered2 = df.loc[mortgage_filter2 & date_filter]
df_filtered2.head()

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []